@media only screen and (max-width: 800px) {
    nav{
        padding: 20px;
    }
    
    nav .logo{
        width: 70px;
    }
    
    nav ul li p {
        font-size: 15px;
    }
    
    nav li{
        margin: 0 10px;
    }

    header{
        background-position: center ;
        background-size: 500px;
    }
    header div{
        padding:40px 0 0 0;
        width: 70%;
        margin:auto;
    }
    
    header div h1{
        font-size: 30px;
        text-align: center;
    }

    header div p{
    font-size: 15px;
    text-align: center;
    }
    
    .flexTable{
        margin:-30vh 5vw 0 5vw;
        border-radius: 35px;
        padding: 0 0 20px 0;
   }
   .flexTable > div{
    align-items: center;
    margin-bottom: 10px;
}

    .tableTop{
        flex-flow: column nowrap !important;
        justify-content: space-around;
        align-items: center;
    }


   .tableTop > div{
    height:auto;
    width:100% !important;
    margin: 20px 0;
}
    .tableTop > div:hover{
        transform: scale(1, 1);
    }

    .tableTop > div:nth-child(3){
        transform: scale(1, 1);
        border-radius: 25px;
        padding-bottom: 0;
    }
    
    
    .tableTop > div > h2{
       font-size: 50px;
       margin-bottom: 70px;
    }
    
     .tableTop > div > div > h1{
        font-size: 50px;
        margin-bottom: 25px;
     }
    
    .tableTop > div:first-child > div > h1{
        font-size: 50px;
        margin-bottom: 70px;
     }
    
     .tableTop > div > div >  p{
        font-size: 20px;
        margin-bottom: 90px;
     }

     .tableTop > div a{
        margin-bottom: 50px;
     }

     .tableTop img{
         cursor: pointer;
         margin-bottom: 20px;
     }
    
     .flexTable  h2{
         color:#656565;
         font-size: 13px;
     }
    
    .flexTable img{
        width: 25px;
    }
    
    .clear{
        color:white;
    }
    
    footer{
        padding: 20px 5vw;
        flex-flow: column wrap;
        align-items: center;
        margin-top: 40px;
    }
    
    footer img{
        width:80px;
        order:1;
    }
    
    footer ul:nth-child(2){
        flex-flow: row nowrap;
        order:3;
    }
    

    footer ul:nth-child(2) li a{
        font-size: 10px;
    }

    footer ul:last-child {
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        order:2;
    }

    
    .no_display{
        display: none !important;
    }

    .no_display_wide{
        display: inline-block !important;
    }

    .plan_list{
        background-color: white;
        padding: 0 20px;
        width: 100% !important;
        display: none;
        animation: show 0.5s linear;
    }

    .opened{
        display: block !important;
    }

    @keyframes show {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to{
            opacity: 1;
            transform: translateY(0);

        }
      }

    .plan_list > h2{
        text-align: left ;
        color:#656565 !important;
        text-transform: capitalize !important;
        font-weight: normal !important;
    }

    .plan_list > div {
        display: flex ;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 20px 0;
        text-align: left !important;
    }

    .plan_list div div {
        width:50%;
    }
    
    .plan_list div div:last-child {
        text-align: center !important;
    }

    .plan_list_silver{
        padding: 0 20px;
        width: 100% !important;
        display: none;
        animation: show 0.5s linear;
    }

    .plan_list_silver > h2{
        text-align: left ;
        color:white !important;
        text-transform: capitalize !important;
        font-weight: normal !important;
    }

    .plan_list_silver > div {
        display: flex ;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 20px 0;
        text-align: left !important;
    }

    .plan_list_silver > div div:first-child {
        color:#F5F5F5;
    }

    .plan_list_silver div div {
        width:50%;
    }
    
    .plan_list_silver div div:last-child {
        text-align: center !important;
    }

    .plan_list_silver .clear{
        color: #0090E8 !important;
    }

    .pointer{
        transform: rotate(180deg);
    }
    
  }